* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 15px 0;
}

#filtbtn {
    margin: 5px 10px;
    padding: 5px;
    height: 30px;

}

.treat-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.treatdiv   {
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

.image {
    width: 200px;
    border-radius: 100px;
}

h3 {
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

input[type=submit] {
    border: none;
    width: 100px;
    height: 30px;
    background-color: rgb(119, 107, 36);
    border-radius: 5px;
    margin-bottom: 5px;

}

input[type=submit]:hover {
    cursor: pointer;
    color: antiquewhite;
}
